@import url('https://fonts.googleapis.com/css2?family=Krub&family=Lora&display=swap');

:root {
	--dark-color-a: #393e46;
	--dark-color-b: #29a99c;
	--light-color: #a3f7bf;
	--success-color: #a569ed;
	--error-color: #f46964;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Krub', sans-serif;
	font-size: 15px;
	background: var(--light-color);
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.room-name-box {
	border-radius: 3px;
}

.btn {
	display: inline-block;
	padding: 0.3em 1.2em;
	margin: 0 0.1em 0.1em 0;
	border: 0.16em solid rgba(255,255,255,0);
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration:none;
	font-weight:300;
	color: var(--dark-color-b);
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	text-align:center;
	transition: all 0.2s;
}

.btn:hover {
	border-color: rgba(255,255,255,1);
}

.btn-2 {
	cursor: pointer;
	margin-left: 10px;
}

.btn-2:hover {
	border-color: var(--dark-color-b);
	border-radius: 2em;
}

.btn-og {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	border-radius: 4px;
	font-size: 17px;
	align-items: center;
	margin-left: 37.333%;
	box-shadow: -1px 45px 89px -20px rgba(4,51,32,1);
	transition: all 0.2s ease-in-out;
}

.btn-og:hover {
	color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	border-radius: 20px 20px 30px 30px;
	
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 16px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
	background-size: 100%;
	padding: 2px;
	border-radius: 3px;
	background-color: var(--dark-color-a);
	padding: 5px 10px;
    width: calc(100% + 25px);
    margin-left: -20px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message:nth-child(odd) {
	padding: 10px;
	margin-bottom: 15px;
	background-color: aquamarine;
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 14px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 15px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;

}

.join-header {
	text-align: center;
	padding: 14px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	border-radius: 0px 0px 30px 30px;
	-moz-border-radius: 0px 0px 30px 30px;
	-webkit-border-radius: 0px 0px 30px 30px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main input:focus {
    outline: none !important;
    border:1px solid aqua;
    box-shadow: 0 0 10px #719ECE;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

.join-main .btn:hover {
	border: medium;
	border-color: rgba(255,255,255,1);
}
  
  /*============ BOOTSTRAP BREAK POINTS:
  
  Extra small (xs) devices (portrait phones, less than 576px)
  No media query since this is the default in Bootstrap
  
  Small (sm) devices (landscape phones, 576px and up)
  @media (min-width: 576px) { ... }
  
  Medium (md) devices (tablets, 768px and up)
  @media (min-width: 768px) { ... }
  
  Large (lg) devices (desktops, 992px and up)
  @media (min-width: 992px) { ... }
  
  Extra (xl) large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) { ... }
  
  =============*/



/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {
	
}

/* Devices under 992px (xl) */
@media (max-width: 991.98px) {

	
}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {


}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
	body {
		font-size: 10px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 30px, 7px, 20px, 7px;	
	}

	.chat-container {
		max-width: 577px;
		width: 280px;
		background: #fff;
		margin: 30px, 7px, 20px, 7px;
		overflow: hidden;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
		border-radius: 20px 20px 30px 30px;
	}

	.chat-header h1,
	.chat-header a {
		font-size: 11px;
	}

	.chat-sidebar {
		background: var(--dark-color-b);
		color: #fff;
		/* overflow-y: scroll; */
	}
	
	.chat-sidebar h2 {
		font-size: 8px;
		background: rgba(0, 0, 0, 0.1);
	}
	
	.chat-sidebar h3 {
		font-size: 9px;
		margin-bottom: 15px;
		background-size: 100%;
		padding: 2px;
		border-radius: 3px;
		background-color: var(--dark-color-a);
		padding: 2.5px 5px;
		width: calc(100% + 25px);
		margin-left: -20px;
	}
	
	.chat-sidebar ul li {
		padding: 5px 0;
	}

	.chat-sidebar .room-name-box {
		background-color: var(--dark-color-b);
		padding: 2px;
	}

	.chat-sidebar .users-box {
		background-color: var(--dark-color-b);
		padding: 2px;
	}

	#user-icon {
		display: none;
	}
	
	.chat-messages .message .meta {
		font-size: 10px;
		font-weight: bold;
		color: var(--dark-color-b);
		opacity: 0.7;
		margin-bottom: 7px;
	}
	
	.chat-messages .message .meta span {
		color: #777;
	}
	
}
